{% extends "base.html" %}
{% block title %}Care Dashboard{% endblock %}
{% block content %}
<!-- <script>
  d = {{ graphJSON | safe }};
  d.config={staticPlot: true};
  Plotly.newPlot('chart', d, {});
</script> -->


<div class="container-fluid">
  <div class="row">
  </div>
  <div class="row min-vh-100">
    <div class="col-3 text-white pt-2" style= "background-color: #1A374D">
      <h1 class="h2 mb-0" style="color: #B1D0E0">MedDash</h1>
      <br>
      <p>
        To add a new graph, first select an container in which you want to place your new graph.
      </p>
      <button id="add-graph" type="button" class="btn btn-primary">Add a new graph</button>
      <button id="create-graph" type="button" class="btn btn-primary">Go</button>
      <div id="select-graph-div">

      </div>
      <div id="select-resource-div">

      </div>
      <div id="select-variabele-div">

      </div>
      <div id="select-dates-div">
      
      </div>
      <div id="select-additional-filters">
      
      </div>
  </div>
    <div class="col-9">
      <div class="row g-2">
        <div class="col-lg-6 p-2">
          <div class="w-100 h-100 bg-light graph-container" style="min-height: 400px" id="graph-location-1">
            <div id="chart" class="chart"></div>
          </div>
        </div>
        <div class="col-lg-6 p-2">
          <div class="w-100 h-100 bg-light graph-container" style="min-height: 400px" id="graph-location-2"></div>
        </div>
      </div>
      <div class="row g-2">
        <div class="col-lg-6 p-2">
          <div class="w-100 h-100 bg-light graph-container" style="min-height: 400px" id="graph-location-3"></div>
        </div>
        <div class="col-lg-6 p-2">
          <div class="w-100 h-100 bg-light graph-container" style="min-height: 400px" id="graph-location-4"></div>
        </div>
      </div>
      <div class="row g-2">
        <div class="col-lg-6 p-2">
          <div class="w-100 h-100 bg-light graph-container" style="min-height: 400px" id="graph-location-5"></div>
        </div>
        <div class="col-lg-6 p-2">
          <div class="w-100 h-100 bg-light graph-container" style="min-height: 400px" id="graph-location-6"></div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}